
body {
    margin: 0;
    font-family: "Lexend Mega", sans-serif;
    color: black;
    background-color: white;
    font-size: 22px;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

header h1 {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav p {
    display: inline-block;
    padding: 10px 10px;
}

nav a {
    text-decoration: none;
    color: black;
}

.mission {
    height: 300px;
    padding-top: 30px;
    display: flex;
    background-image: url('./images/skyscrapers.jpg');
    text-align: center;
}

.companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.company {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 10px;
    height: auto;
}

.company p {
    padding: 5px;
    min-width: 240px;
    font-weight: bold;
    text-align: center;
}

.team {
    display: flex;
    background-image: url('images/blurred-road.jpg');
    flex-wrap: wrap;
    justify-content: center;
}

.team-member {
    color: white;
    padding: 10px;
    flex-basis: 280px;
}

.team-member img {
    width: 200px;
    height: 300px;
}

#mission-statement {
    background-color: white;
    margin: auto;
    width: 100%;
}

.contact, footer {
    padding-top: 20px;
}