AIPND/DL_PyTorch-master/F_MNIST_data/*
AIPND/DL_PyTorch-master/MNIST_data/*
.idea/
*.pth
*.pyc
AIPND/DL_PyTorch-master/Cat_Dog_data/*
__MACOSX
.ipynb_checkpoints/
MNIST_data/
colaboratory.code-workspace
csbase/scripts/output-samples/*
csbase/scripts/imgmgck-output/*
.scannerwork/
cc_webdev/projects/wanderlust/credentials.js
node_modules/